@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
}

h1 {
  color: red;
  font-size: 150px;
  margin-bottom: -5px;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.container2 {
  width: 50vw;
  height: 50vh;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.container1 {
  width: 50vw;
  height: 50vh;
  padding: 50px 25px 50px 100px;
  display: flex;
  justify-content: center;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
  /* width: 50vw;
  display: block; */
}
/* 
.info {
  width: 50vw;
  display: block;
} */

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}

@media (max-width: 800px) {
  h1 {
    text-align: center;
    font-size: 110px;
  }
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .container1,
  .container2 {
    margin: 20px;
    width: 95vw;
    text-align: center;
    padding: 10px;
  }
}
